<br>
<form (ngSubmit)="setlogin(f)" #f="ngForm">
<input id="tokentext" type="text" ngModel name="tokentext" required> <br><br>
<button [disabled]="!f.valid" type="submit" class="btn btn-primary">Login(Set token)</button> &nbsp; <br><br>
</form>
<button type="button" class="btn btn-primary" (click)="logout();">LogOut(remove token)</button><br><br>
<button type="button" class="btn btn-primary" (click)="first();">Call Get method</button><br><br>
<button type="button" class="btn btn-primary" (click)="second();">Call Post Method</button>